$background-colour = #323232
$top-colour = #5f914a
$text-colour = #c5c5c5

.grid
  .row
    > div:nth-child(1)
      padding-top 0.28rem !important

body
  background-color $background-colour
  color $text-colour
  font-size 1.32em
  line-height 1.29em

header.nav
  border-top 3px solid $top-colour
  border-bottom 1px solid #131313
  width 100%
  margin 0
  padding 0.741rem 0 1.189rem 0.22rem

  .title
    .logo
      float left
      display inline-block
      margin 0

    .text
      display inline-block
      margin 0.71rem 0 0.31rem 0.71rem

  a
    margin-right 1.02rem

    &.title, &.title:visited
      color #ababab
      font-family sans-serif
      font-size 1.08em
      font-weight normal
      text-decoration none

    &.title:hover
      color #dcdcdc

.greeting
  margin-bottom 3.22rem

  p
    margin 0.22rem 0

  .description
    span
      display inline-block
      margin 0 0.45rem
    span:nth-child(1)
      margin-left 0

.page
  margin 0
  padding 0 0.631rem
  width 100%

h1
  font-size 1.6em
  margin 1.162rem 0 0.66rem 0

h2
  font-size 1.45em
  margin 1.162rem 0 0.42rem 0

h3
  font-size 1.01em
  margin 1.162rem 0 0.28rem 0

h4
  font-size 0.9em
  margin 1.162rem 0 0.28rem 0

.page
  .breadcrumb
    margin 0 0 1.13rem -0.42rem
    font-size 1.276em

    .divider
      display inline-block
      margin 0 0.42rem 0 0.42rem

    .item.active
      color $text-colour
      font-weight normal

.episodes,
.episode
  margin-top 1.29rem

  span
    &.number
      color #445541
      display inline-block
      font-family monospace
      margin 0 0.86rem 0 0
    &.date
      color #637588

.episodes
  ul
    padding 0

    li
      list-style none
      margin 1.29rem 0
      padding 0

    h2
      display block
      font-size 1.25em
      font-weight normal
      padding 0
      margin 0.165rem 0 0.1946rem 0

.episode
  h4
    margin 2.62rem 0 1.23rem 0

  ul
    padding 0 0 0 1.425rem
    li
      list-style disc
      padding 0

  blockquote
    background #111111
    border-radius 0.18rem
    margin 0.889rem 0 0.219rem 0
    padding 0.68rem 0.821rem
    p
      margin 0
      padding 0

      &::before
        content '\201C'
      &::after
        content '\201D'

  figcaption
    margin 0.21rem 0 0 0

  .tags
    margin 0.921rem 0 0.757rem -1.54rem !important

    li
      display inline-block
      list-style none

    .tag
      background #192324
      border-radius 0.18rem
      color darkgray
      padding 0.21rem 0.43rem
      margin 0.52rem 0.749rem 0.52rem 0

  .description,
  .screencast
    margin 0.757rem 0 1.26rem 0

  .video
    background #111111
    background-size cover
    cursor pointer
    margin 0.38rem 0 0.24rem 0
    width 100%

  .text
    ul
      margin 1.426rem 0
    li
      margin 0.326rem 0

  pre
    background #111111
    border-radius 0.18rem
    margin 0.83rem 0
    padding 0.39rem 0.53rem
    color #b5b5b5

  code
    padding 0
    border none
    color #b5b5b5

.about
  p.strike
    text-decoration line-through
